{% extends "base.html" %}

{% block title %}Kontakt{% endblock title %}

{% block headline %}Kontakt{% endblock headline %}

{% block content %}

<div class="col-md-4">
    {% if form.errors %}
    {% for error_list in form.errors.values %}
    {% for error in error_list %}
    <div class="alert my-4 alert-warning">{{ error }}</div>
    {% endfor %}
    {% endfor %}
    {% endif %}

    <div class="card my-4">
        <div class="card-body">
            <main class="form">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" placeholder="text" 
                        {% if form.email.value %} value="{{ form.email.value }}" {% endif %} required>
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="subject" class="form-control" placeholder="text"
                        {% if form.subject.value %} value="{{ form.subject.value }}" {% endif %} required>
                        <label for="floatingInput">Betreff</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="text" name="message" style="height: 200px"
                        {% if form.message.value %} value="{{ form.message.value }}" {% endif %} required></textarea>
                        <label for="message">Nachricht</label>
                    </div>
                    <input type="hidden" name="recaptcha" id="id_recaptcha">
                    <button class="btn btn-primary" type="submit">Absenden</button>
                    <a href="javascript:history.back()" class="btn btn-outline-dark">Abbrechen</a>
                </form>
            </main>
            <div><small class="text-muted">Dieses Formular ist durch reCAPTCHA Enterprise geschützt und es gelten die
                <a href="https://policies.google.com/privacy">Datenschutzerklärung</a> und
                <a href="https://policies.google.com/terms">Nutzungsbedinungen</a> von Google.</small></div>
        </div>
    </div>
</div>

<style>
    .grecaptcha-badge {
        visibility: hidden;
    }
</style>
<script src="https://www.google.com/recaptcha/enterprise.js?render=6LdEFEgiAAAAALhfxgxkrl1jugj2YQvkYwEeNv8D"></script>
<script>
    grecaptcha.enterprise.ready(function () {
        grecaptcha.enterprise.execute("6LdEFEgiAAAAALhfxgxkrl1jugj2YQvkYwEeNv8D", { action: "contact" }).then(function (token) {
            document.getElementById("id_recaptcha").value = token;
        });
    });
</script>

{% endblock content %}