{% extends "base.html" %}

{% block title %}News{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-8 mt-4 left">
        {% for post in posts %}
        <div class="card mb-4">
            <h5 class="card-header"><a href="{% url 'post' post.slug  %}">{{ post.title }}</a></h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{ post.author }} | {{ post.created_on.date }}</h6>
                <p class="card-text">{{ post.content | safe }}</p>
            </div>
        </div>
        {% endfor %}

        {% if is_paginated %}
        <ul class="pagination justify-content-center">
            <div class="btn-group">
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-primary"><i
                        class="bi bi-chevron-double-left"></i></a>
                {% endif %}
                {% if page_obj.has_previous %}
                <a href="{% url 'home' %}" type="button" class="btn btn-primary">Anfang</a>
                <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-primary"><i
                        class="bi bi-chevron-double-right"></i></a>
                {% endif %}
            </div>
        </ul>
        {% endif %}

    </div>
    {% include 'news/sidebar.html' %}
</div>

{% endblock content %}