{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Anmelden" %}{% endblock title %}

{% block headline %}{% translate "Anmelden" %}{% endblock headline %}

{% block content %}

<div class="col-md-4">
    <div class="card my-4">
        <div class="card-body">
            <main class="form-signin">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" name="username" class="form-control" placeholder="text">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" placeholder="password">
                        <label for="floatingPassword">{% translate "Passwort" %}</label>
                    </div>
                    <button class="btn btn-primary mb-2" type="submit">{% translate "Anmelden" %}</button>
                    <a href="javascript:history.back()" class="btn btn-outline-dark mb-2">{% translate "Abbrechen" %}</a>
                </form>
            </main>

            {% url 'register' as register_url %}
            {% url 'password_reset' as password_reset_url %}
            {% blocktrans with register_link='<a href="'|add:register_url|add:'">'|safe password_reset_link='<a href="'|add:password_reset_url|add:'">'|safe %}
            {{ register_link }}Noch kein Konto</a> oder {{ password_reset_link }}Passwort vergessen</a>?
            {% endblocktrans %}
        </div>
    </div>
</div>

{% endblock content %}