{% extends "base.html" %}

{% block title %}Mitglied werden{% endblock title %}

{% block headline %}Mitglied werden{% endblock headline %}

{% block content %}

{% load static %}

<div class="row mt-2">

    <div class="col-md-4">
        {% if form.errors %}
        {% for error_list in form.errors.values %}
        {% for error in error_list %}
        <div class="alert mb-4 alert-warning">{{ error }}</div>
        {% endfor %}
        {% endfor %}
        {% endif %}

        <div class="card mb-4">
            <div class="card-body">
                <main class="form">
                    <form method="post">
                        {% csrf_token %}
                        <p class="card-text">
                            Bitte überprüfe deine Kontaktdaten und <a
                                href="{% url 'update_pilot' %}?next={{ request.path }}">korrigiere</a> sie, falls etwas
                            nicht stimmt:</p>
                        <p class="card-text">
                            <strong>Name, Vorname</strong><br>
                            {{ request.user }}</p>
                        <p class="card-text">
                            <strong>Email</strong><br>
                            {{ request.user.email }}</p>
                        <p class="card-text">
                            <strong>Telefonnummer</strong><br>
                            {{ request.user.phone }}</p>
                        <div class="form-floating mb-3">
                            <input type="text" name="street" class="form-control" placeholder="text" 
                                {% if form.street.value %}value="{{ form.street.value }}" {% endif %}>
                            <label for="floatingInput">Strasse, Hausnummer</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="town" class="form-control" placeholder="text" 
                                {% if form.town.value %}value="{{ form.town.value }}" {% endif %}>
                            <label for="floatingInput">Ort, Postleitzahl</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="country" class="form-control" placeholder="text" 
                                value="{{ form.country.value | default:'Schweiz' }}">
                            <label for="floatingInput">Land</label>
                            <small class="text-muted">Wir versenden die Rechnung per Email, zum Ausstellen einer
                                Rechnung ist jedoch eine Postadresse nötig.</small>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" name="request_membership" id="requestMembership">
                            <label class="form-check-label" for="requestMembership">
                                Ich will Mitglied werden. Um als Gast mit uns zu fliegen, reicht dein Benutzerkonto und
                                du kannst das Beantragen der Mitgliedschaft <a href="{% url 'home' %}">abbrechen</a>.
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" name="accept_statutes" id="acceptStatutes">
                            <label class="form-check-label" for="acceptStatutes">
                                Ich bin mit den <a href="{% static 'news/statuten.pdf' %}">Statuten</a> einverstanden.
                            </label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="text" name="comment" style="height: 200px">
                                {% if form.comment.value %}{{ form.comment.value }}{% endif %}</textarea>
                            <label for="message">Kommentar</label>
                        </div>
                        <button class="btn btn-primary" type="submit">Absenden</button>
                        <a href="{% url 'home' %}" class="btn btn-outline-dark">Abbrechen</a>
                    </form>
                </main>
            </div>
        </div>
    </div>

    <div class="col float-right">
        <div class="card mb-3">
            <h5 class="card-header">Rechte und Pflichten</h5>
            <div class="card-body">
                <p class="card-text">
                    Du musst nicht Mitglied sein, um mit uns zu fliegen. Als Mitglied hast du aber an unseren
                    Trainings bei rechtzeitiger Anmeldung Vorrang und kannst dich aktiv im Club einbringen.</p>
                <p class="card-text">
                    Dafür ist ein jährlicher Mitgliederbeitrag fällig, unabhängig davon an wievielen Trainings du teil
                    nimmst. Der Mitgliederbeitrag ist bis zum Ausscheiden aus dem Club fällig, wobei der Austritt
                    jeweils bis zur Mitgliederversammlung anfangs Saison möglich ist. Die Höhe des Mitgliederbeitrags
                    wird von der Mitgliederversammlung fest gelegt.</p>
                <p class="card-text">
                    Die genauen Regelungen sind in unseren <a href="{% static 'news/statuten.pdf' %}">Statuten</a> fest
                    gelegt.</p>
            </div>
        </div>
    </div>

</div>

{% endblock content %}