{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Passwort ändern" %}{% endblock title %}

{% block headline %}{% translate "Passwort ändern" %}{% endblock headline %}

{% block content %}

<div class="col-md-4">
    <div class="card my-4">
        <div class="card-body">
            <main class="form">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="password" name="new_password1" class="form-control" placeholder="password">
                        <label for="floatingPassword">{% translate "Neues Passwort" %}</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="new_password2" class="form-control" placeholder="password">
                        <label for="floatingPassword">{% translate "Passwort bestätigen" %}</label>
                    </div>
                    <button class="btn btn-primary mb-2" type="submit">{% translate "Passwort ändern" %}</button>
                    <a href="{% url 'login' %}" class="btn btn-outline-dark mb-2">{% translate "Abbrechen" %}</a>
                </form>
            </main>
        </div>
    </div>
</div>

{% endblock content %}