{% load i18n %}
{% autoescape off %}
{% blocktrans with first_name=user.first_name %}Hallo {{ first_name }}{% endblocktrans %}

{% blocktrans with email=user.email domain=domain %}
Um das Passwort von {{ email }} für {{ domain }} zurückzusetzen, bitte diesen Link verwenden:
{% endblocktrans %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Bitte ignoriere diese Nachricht, falls du dein Passwort nicht zurücksetzen willst.{% endblocktrans %}

{% translate "Gruss" %}
ACBeo
{% endautoescape %}
