{% extends "base.html" %}

{% block title %}Konto erstellen{% endblock title %}

{% block headline %}Konto erstellen{% endblock headline %}

{% block content %}

{% load static %}

<div class="col-md-4">
    {% if form.errors %}
    {% for error_list in form.errors.values %}
    {% for error in error_list %}
    <div class="alert mb-4 alert-warning">{{ error }}</div>
    {% endfor %}
    {% endfor %}
    {% endif %}

    <div class="card my-4">
        <div class="card-body">
            <main class="form">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" name="first_name" class="form-control" placeholder="text"
                            {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %}>
                        <label for="floatingInput">Vorname</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="last_name" class="form-control" placeholder="text"
                            {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %}>
                        <label for="floatingInput">Nachname</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" placeholder="name@example.com"
                            {% if form.email.value %}value={{ form.email.value }}{% endif %}>
                        <label for="floatingInput">Email</label>
                        <small class="text-muted">Zum Anmelden und Passwort Zurücksetzen.</small>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" name="phone" class="form-control" placeholder="text"
                            {% if form.phone.value %}value="{{ form.phone.value }}"{% endif %}>
                        <label for="floatingInput">Telefonnummer (z. B. 079 123 45 67)</label>
                        <small class="text-muted">Wir kontaktieren dich per Telefon, wenn wir z. B. spät ein Training
                            absagen müssen, und wir senden nach Rücksprache pro Training zwei Nummern von
                            Teilnehmenden an Notfalldienste.</small>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password1" autocomplete="new-password" class="form-control"
                            placeholder="password">
                        <label for="floatingPassword">Passwort</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password2" autocomplete="new-password" class="form-control"
                            placeholder="password">
                        <label for="floatingPassword">Passwort wiederholen</label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" name="accept_safety_concept"
                            id="acceptSafetyConcept">
                        <label class="form-check-label" for="acceptSafetyConcept">
                            Ich bin mit dem <a href="{% static 'news/sicherheitskonzept.pdf' %}">Sicherheitskonzept</a>
                            einverstanden.
                        </label>
                    </div>
                    <input type="hidden" name="recaptcha" id="id_recaptcha">
                    <button class="btn btn-primary mb-2" type="submit">Konto erstellen</button>
                    <a href="javascript:history.back()" class="btn btn-outline-dark mb-2">Abbrechen</a>
                </form>
            </main>
            Falls du bereits ein Konto hast, bitte <a href="{% url 'login' %}?next={{ next }}">einloggen</a>.
            <div><small class="text-muted">Diese Seite ist durch reCAPTCHA Enterprise geschützt und es gelten die
                <a href="https://policies.google.com/privacy">Datenschutzerklärung</a> und
                <a href="https://policies.google.com/terms">Nutzungsbedinungen</a> von Google.</small></div>
        </div>
    </div>

</div>

<style>
    .grecaptcha-badge {
        visibility: hidden;
    }
</style>
<script src="https://www.google.com/recaptcha/enterprise.js?render=6LdEFEgiAAAAALhfxgxkrl1jugj2YQvkYwEeNv8D"></script>
<script>
    grecaptcha.enterprise.ready(function () {
        grecaptcha.enterprise.execute("6LdEFEgiAAAAALhfxgxkrl1jugj2YQvkYwEeNv8D", { action: "register" }).then(function (token) {
            document.getElementById("id_recaptcha").value = token;
        });
    });
</script>

{% endblock content %}