{% block sidebar %}

<div class="col-xxl-4 col-md-5 float-right">
    <div class="card mb-3">
        <h5 class="card-header">Über uns</h5>
        <div class="card-body">
            <p class="card-text">
                Wir sind ein Verein von Gleitschirm- und Deltapilot·innen, die gemeinsam in einer sicheren Umgebung ihr
                fliegerisches Können verbessern wollen. Dazu organisieren wir seit 2010 Trainings mit Boot an der Axalp.
                Unsere Trainings stehen allen offen, die unser <a href="#">Sicherheitskonzept</a> akzeptieren; die
                Teilnehmerzahl ist jedoch begrenzt und Mitglieder haben bei rechtzeitiger Anmeldung Vorrang.</p>
            <div class="d-grid gap-1 d-xl-block">
                <a href="{% url 'signup' %}" class="btn btn-secondary">Einschreiben</a>
                {% if not request.user.is_member %}
                <a href="{% url 'membership' %}" class="btn btn-secondary">Mitglied werden</a>
                {% endif %}
                <a href="{% url 'contact' %}" class="btn btn-secondary">Kontakt</a>
            </div>
        </div>
    </div>
</div>

{% endblock sidebar %}