{% block sidebar %}

{% load static %}

<div class="col-xxl-4 col-md-5 float-right">
    <div class="card mb-3">
        <img class="card-img-top" src="{% static 'news/smile.jpeg' %}" alt="Card image cap">
        <h5 class="card-header">Über uns</h5>
        <div class="card-body">
            <p class="card-text">
                Wir sind ein Verein von Gleitschirm- und Deltapilot·innen, die gemeinsam in einer sicheren Umgebung ihr
                fliegerisches Können verbessern wollen. Dazu organisieren wir seit 2010 Trainings mit Boot an der Axalp.
                Unsere Trainings stehen allen offen, die unser <a
                    href="{% static 'news/sicherheitskonzept.pdf' %}">Sicherheitskonzept</a> akzeptieren; die
                Teilnehmerzahl ist jedoch begrenzt und Mitglieder haben bei rechtzeitiger Anmeldung Vorrang.</p>
            <div class="d-grid gap-1 d-xl-block">
                <a href="{% url 'signup' %}" class="btn btn-secondary">Einschreiben</a>
                {% if not request.user.is_member %}
                <a href="{% url 'membership' %}" class="btn btn-secondary">Mitglied werden</a>
                {% endif %}
                <a href="{% url 'contact' %}" class="btn btn-secondary">Kontakt</a>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <img class="card-img-top" src="{% static 'news/synchro.jpeg' %}" alt="Card image cap">
        <h5 class="card-header">Partner</h5>
        <div class="card-body">
            <p class="card-text">Wir werden von <a href="https://www.birdwing.ch/">Birdwing</a>, der Flugschule im
                Haslital, unterstützt. Vom Generalimporteur <a href="https://www.basisrausch.ch/">Basisrausch</a> können
                Demoschirme von <a href="http://u-turn.de/">U-Turn</a> bei uns getestet werden. Wir organisieren
                Flosstrainings und Wettkämpfe mit der <a href="https://www.swissleague.ch/acro-league">Swiss Acro
                    League</a>.</p>
            <div class="d-grid gap-1 d-xl-block">
                <a href="{% url 'contact' %}?subject=U-Turn%20Demoschirme" class="btn btn-secondary">Anfrage U-Turn Demos</a>
            </div>
        </div>
    </div>
</div>

{% endblock sidebar %}