{% extends "base.html" %}

{% block title %}Abschöpfung bearbeiten{% endblock title %}

{% block headline %}Abschöpfung bearbeiten{% endblock headline %}

{% block content %}

<div class="row mt-2">
    <div class="col-xl-4 col-lg-5">
        <div class="card mb-4">
            <h5 class="card-header">Für {{ view.kwargs.date | date:"l, j. E" }}</h5>
            <div class="card-body">
                <main class="form">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label class="col-6 col-form-label">Betrag</label>
                            <div class="col-6">
                                <input type="number" class="form-control" name="amount" value={{ form.amount.value }}>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Abgeschöpft von</label>
                            {% for signup in form.signup %}
                            <div class="form-check">
                                {{ signup.tag }}
                                <label class="form-check-label" for="{{ signup.id_for_label }}">
                                    {{ signup.choice_label }}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label>Zahlungsart</label>
                            {% for method in form.method %}
                            <div class="form-check">
                                {{ method.tag }}
                                <label class="form-check-label" for="{{ method.id_for_label }}">
                                    {{ method.choice_label }}
                                </label>
                            </div>
                            {% endfor %}
                            <small class="text-muted">Bitte nach Möglichkeit per Überweisung, da dort keine Gebühren
                                anfallen.</small>
                        </div>
                        <div class="d-grid gap-2 d-sm-block">
                            <button class="btn btn-primary" type="submit">Speichern</button>
                            <button class="btn btn-danger" type="submit" name="delete">Löschen</button>
                            <a href="{{ view.get_success_url }}" class="btn btn-outline-dark">Abbrechen</a>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>
    <div class="col float-right">
        {% include 'bookkeeping/bank_details.html' %}
    </div>
</div>

{% endblock content %}