{% extends "base.html" %}

{% block title %}Abrechnung bearbeiten{% endblock title %}

{% block headline %}Abrechnung bearbeiten{% endblock headline %}

{% block content %}

{% load bill_extras %}

<div class="row mt-2">
    <div class="col-xl-4 col-lg-5">
        <div class="card mb-4">
            <h5 class="card-header">{{ bill.signup.pilot }} für {{ bill.report.training.date | date:"D., j. M." }}</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Anzahl</th>
                                <th scope="col" class="text-end">Betrag</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% if bill.num_flights_with_bus %}
                            <tr>
                                <td>Flüge mit Clubbus 🚐</td>
                                <td>{{ bill.num_flights_with_bus }}</td>
                                <td class="text-end">{{ bill.costs_flights_with_bus | floatformat:"2u" }}</td>
                            </tr>
                            {% endif %}
                            {% if bill.num_flights_with_lift %}
                            <tr>
                                <td>Flüge mit Sessellift 🚡</td>
                                <td>{{ bill.num_flights_with_lift }}</td>
                                <td class="text-end">{{ bill.costs_flights_with_lift | floatformat:"2u" }}</td>
                            </tr>
                            {% endif %}
                            {% if bill.num_flights_with_postbus %}
                            <tr>
                                <td>Flüge mit Postauto 📯</td>
                                <td>{{ bill.num_flights_with_postbus }}</td>
                                <td class="text-end">{{ bill.costs_flights_with_postbus | floatformat:"2u" }}</td>
                            </tr>
                            {% endif %}
                            {% if bill.num_services %}
                            <tr>
                                <td>Dienste</td>
                                <td>{{ bill.num_services }}</td>
                                <td class="text-end">-{{ bill.revenue_services | floatformat:"2u" }}</td>
                            </tr>
                            {% endif %}
                            {% if 0 < bill.prepaid_flights %}
                            <tr>
                                <td>Mit Abo bezahlt</td>
                                <td>{{ bill.prepaid_flights }}</td>
                                <td class="text-end">-{{ bill.costs_prepaid_flights | floatformat:"2u" }}</td>
                            </tr>
                            {% elif bill.prepaid_flights < 0 %}
                            <tr>
                                <td>Flüge gutgeschrieben</td>
                                <td>{{ bill.num_prepaid_flights | abs | floatformat }}</td>
                                <td class="text-end">{{ bill.costs_prepaid_flights | abs | floatformat:"2u" }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                        {% if bill.signup.purchases.all %}
                        <tbody class="table-group-divider">
                            {% for purchase in bill.signup.purchases.all %}
                            <tr>
                                <td>{{ purchase.description }}</td>
                                    <td></td>
                                    <td class="text-end">{{ purchase.price | floatformat:"2u" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            {% endif %}
                        <tfoot class="table-group-divider">
                            <td>Zu bezahlen</td>
                            <td></td>
                            <td class="text-end">{{ bill.to_pay | floatformat:"2u" }}</td>
                        </tfoot>
                    </table>
                </div>
                <main class="form">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="prepaid_flights" value="{{ bill.prepaid_flights | floatformat:'u' }}">
                        <div class="mb-3">
                            <label>Zahlungsart</label>
                            {% for method in form.method %}
                            <div class="form-check">
                                {{ method.tag }}
                                <label class="form-check-label" for="{{ method.id_for_label }}">
                                    {{ method.choice_label }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" min="{{ bill.to_pay }}" name="amount" class="form-control"
                                placeholder="text" value="{{ form.amount.value | floatformat:'u' }}">
                            <label>Betrag</label>
                        </div>
                        <div class="mb-3">Um Runs oder Einkäufe zu bearbeiten, muss die Abrechnung gelöscht werden.</div>
                        <div class="d-grid gap-2 d-sm-block">
                            <button class="btn btn-primary" type="submit">Speichern</button>
                            <button class="btn btn-danger" type="submit" name="delete">Löschen</button>
                            <a href="{{ view.get_report_url }}" class="btn btn-outline-dark">Abbrechen</a>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>

    <div class="col float-right">
        {% include 'bookkeeping/explanations.html' %}
    </div>

</div>

{% endblock content %}