{% extends "base.html" %}

{% block title %}Ausgabe erfassen{% endblock title %}

{% block headline %}Ausgabe erfassen{% endblock headline %}

{% block content %}

<div class="col-xl-4 col-lg-5">
    <div class="card my-4">
        <h5 class="card-header">Für {{ date | date:"l, j. E" }}</h5>
        <div class="card-body">
            <main class="form">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <textarea type="text" name="reason" id="reason" class="form-control" 
                            placeholder="text">{% if form.reason.value %}{{ form.reason.value }}{% endif %}</textarea>
                        <label for="floatingInput">Grund</label>
                    </div>
                    <div class="row mb-3">
                        <label class="col-6 col-form-label">Betrag</label>
                        <div class="col-6">
                            <input type="number" class="form-control" name="amount" value={{ form.amount.value }}>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Speichern</button>
                        <div class="btn-group dropup">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                data-bs-toggle="dropdown">
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                        onclick="document.getElementById('reason').value='Tanken'"
                                        href="#">Tanken</a></li>
                                <li><a class="dropdown-item"
                                        onclick="document.getElementById('reason').value='Parkkarte'"
                                        href="#">Parkkarte</a></li>
                                <li><a class="dropdown-item"
                                        onclick="document.getElementById('reason').value='Kleber Axalpstrasse'"
                                        href="#">Kleber Axalpstrasse</a></li>
                            </ul>
                        </div>
                    </div>
                    <a href="{{ view.get_success_url }}" class="btn btn-outline-dark">Abbrechen</a>
                </form>
            </main>
        </div>
    </div>
</div>

{% endblock content %}