<div class="card mb-4">
    <h5 class="card-header">Erklärungen</h5>
    <div class="card-body">
        <p class="card-text">
            Wenn beim Abrechnen der Kauf eines Abos erfasst wird oder jemand noch Flüge aus früheren Abos zugute hat,
            werden diese automatisch verrechnet.</p>
        <p class="card-text">
            Wenn jemand mehr Dienste als Flüge gemacht hat, werden die Mehrdienste der Einfachheit halber nicht Bar
            ausgezahlt, sondern als Flüge gutgeschrieben, unabhängig davon ob die Pilot·in Mitglied ist oder je ein
            Abo gekauft hat.</p>
        <p class="card-text">
            Ob eine Tagesmitgliedschaft fällig ist, wird nach folgenden Regeln bestimmt: Eine Tagesmitgliedschaft ist
            ab drei Flügen fällig, höchstens viermal pro Saison und höchstens zweimal pro 31 Tage. Es gibt keine
            Ausnahmeregelung mehr für die Axalpwochen; es sind einfach zwei Tagesmitgliedschaften fällig.
            Tagesleiter·innen können die Tagesmitgliedschaft erlassen. Falls eine Tagesmitgliedschaft fälschlicherweise
            gelöscht wurde einfach abbrechen und nochmal anfangen, Einkäufe gehen dabei nicht verloren.</p>
        <p class="card-text">
            Pro Training können bis zu zwei Teilnehmende zu Tagesleiter·innen gemacht werden. Diese erhalten einen
            zusätzlichen Dienst gutgeschrieben (das "Leiterstrichli").</p>
    </div>
</div>