{% extends "base.html" %}

{% block title %}Bilanz {{ year }}{% endblock title %}

{% block headline %}Bilanz {{ year }}{% endblock headline %}

{% block content %}

<div class="row mt-2">

    <div class="col-lg-4 left">
        <div class="card mb-4">
            <h5 class="card-header">Übersicht</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <tbody>
                            <tr>
                                <td><a href="{% url 'reports' year=year %}">Berichte</a>
                                </td>
                                <td>{{ num_reports }}</td>
                            </tr>
                            <tr>
                                <td>Runs</td>
                                <td>{{ num_runs }}</td>
                            </tr>
                            <tr>
                                <td>Flüge</td>
                                <td>{{ num_flights }}</td>
                            </tr>
                            <tr>
                                <td><a href="{% url 'pilots' year=year %}">Aktive Pilot·innen</a></td>
                                <td>{{ num_pilots }}</td>
                            </tr>
                            <tr>
                                <td>Offene Rechnungen</td>
                                <td>{{ num_open_signups }}</td>
                            </tr>
                            <tr>
                                <td>Erster Kassenstand</td>
                                <td>{{ first_cash }}</td>
                            </tr>
                            <tr>
                                <td>Letzter Kassenstand</td>
                                <td>{{ latest_cash }}{% if amount %} ({{ amount }}){% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 left">
        <div class="card mb-4">
            <h5 class="card-header">Einnahmen</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                {% for method in total_revenue.keys %}
                                <th scope="col">{{ method }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <td>Tagesmitgliedschaften</td>
                                {% for amount in revenue_from_day_passes.values %}
                                <td>{{ amount }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Material</td>
                                {% for amount in revenue_from_equipment.values %}
                                <td>{{ amount }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Abos</td>
                                {% for amount in revenue_from_prepaid_flights.values %}
                                <td>{{ amount }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Flüge</td>
                                {% for amount in revenue_from_flights.values %}
                                <td>{{ amount }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>Abschöpfung</td>
                                {% for amount in revenue_from_absorptions.values %}
                                <td>{% if amount %}{{ amount }}{% endif %}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                        <tfoot class="table-group-divider">
                            <td>Total</td>
                            {% for amount in total_revenue.values %}
                            <td>{{ amount }}</td>
                            {% endfor %}
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 left">
        <div class="card mb-4">
            <h5 class="card-header">Ausgaben</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Betrag</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for reason, expeditures in expeditures_by_reason.items %}
                            <tr>
                                <td>{{ reason }}</td>
                                <td>{{ expeditures }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot class="table-group-divider">
                            <td>Total</td>
                            <td>{{ total_expeditures }}</td>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card mb-4">
            <h5 class="card-header">Ausgaben im Detail</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Bericht</th>
                                <th scope="col">Zweck</th>
                                <th scope="col">Betrag</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for expediture in expediture_list %}
                            <tr>
                                <td>{{ expediture.report.training.date | date:"j.n." }} <a
                                        href="{% url 'update_report' date=expediture.report.training.date.isoformat %}"
                                        class="bi bi-pencil-square"></a></td>
                                <td>{{ expediture.description }}</td>
                                <td>{{ expediture.amount }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card mb-4">
            <h5 class="card-header">TWINT</h5>
            <ul class="list-group list-group-flush">
                {% for label, transactions in twint_weeks.items %}
                <li class="list-group-item">
                    {{ label }}
                    <a class="bi bi-chevron-double-down" data-bs-toggle="collapse" href="#week-{{ forloop.counter }}"></a>
                    <div class="collapse" id="week-{{ forloop.counter }}">
                        <div class="table-responsive">
                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Bericht</th>
                                        <th scope="col">Zweck</th>
                                        <th scope="col">Betrag</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    {% for transaction in transactions %}
                                    <tr>
                                        <td>{{ transaction.report.training.date | date:"j.n." }} <a
                                                href="{% url 'update_report' date=transaction.report.training.date.isoformat %}"
                                                class="bi bi-pencil-square"></a></td>
                                        <td>{{ transaction.description }}</td>
                                        <td>{{ transaction.amount }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>                        
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if bank_transfers %}
    <div class="col-lg-6">
        <div class="card mb-4">
            <h5 class="card-header">Überweisungen</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Bericht</th>
                                <th scope="col">Zweck</th>
                                <th scope="col">Betrag</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for transfer in bank_transfers %}
                            <tr>
                                <td>{{ transfer.report.training.date | date:"j.n." }} <a
                                        href="{% url 'update_report' date=transfer.report.training.date.isoformat %}"
                                        class="bi bi-pencil-square"></a></td>
                                <td>{{ transfer.description }}</td>
                                <td>{{ transfer.amount }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% if previous_year or next_year %}
<ul class="pagination justify-content-center">
    <div class="btn-group mb-2">
        {% if previous_year %}
        <a href="{% url 'balance' year=previous_year %}" type="button" class="btn btn-primary"><i
                class="bi bi-chevron-double-left"></i></a>
        {% endif %}
        {% if next_year %}
        <a href="{% url 'balance' %}" type="button" class="btn btn-primary">Aktuelles Jahr</a>
        <a href="{% url 'balance' year=next_year %}" type="button" class="btn btn-primary"><i
                class="bi bi-chevron-double-right"></i></a>
        {% endif %}
    </div>
</ul>
{% endif %}

</div>

{% endblock content %}