{% extends "base.html" %}

{% block title %}Bericht{% endblock title %}

{% block headline %}{{ report.training.date | date:"D., j. E" }}{% endblock headline %}

{% block content %}

<div class="row mt-2">

    <div class="col left">
        <div class="card mb-4">
            <h5 class="card-header">Runs
                {% if report.training.date == today %}
                <a href="{% url 'create_run' %}" class="bi bi-plus-square"></a>
                {% endif %}
            </h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Pilot·in</th>
                                {% for time in times_of_runs %}
                                <th scope="col" class="text-nowrap">{{ time | date:"G:i" }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for signup, runs in runs_by_signup.items %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td class="text-nowrap">{{ signup.pilot }}
                                    {% if signup.is_paid %}
                                        <i class="bi bi-check-lg"></i>
                                    {% else %}
                                        <a href="{% url 'create_bill' date=report.training.date.isoformat signup=signup.pk %}" class="bi bi-cart3"></a>
                                    {% endif %}
                                </td>
                                {% for run in runs %}
                                <td>
                                    {% if run.get_kind_display == 'Flight' %}🪂
                                    {% elif run.get_kind_display == 'Bus' %}🚌
                                    {% elif run.get_kind_display == 'Boat' %}🚢
                                    {% else %}❌{% endif %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% if report.training.date == today %}
                        <tfoot class="table-group-divider">
                            <td></td>
                            <td></td>
                            {% for time in times_of_runs %}
                            <td><a href="{% url 'update_run' run=forloop.counter %}" class="bi bi-pencil-square"></a></td>
                            {% endfor %}
                        </tfoot>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-4">
        <div class="card mb-4">
            <h5 class="card-header">Kasse</h5>
            <div class="card-body">
                <main class="form">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="number" min="0" name="cash_at_start" class="form-control" placeholder="text"
                                value="{{ form.cash_at_start.value }}">
                            <label>Kassenstand vor dem Training</label>
                        </div>
                        <table class="table table-sm table-hover">
                            <tbody>
                                <tr>
                                    <td>Einnahmen</td>
                                    <td>{{ report.revenue }}</td>
                                </tr>
                                {% for expense in report.expenses.all %}
                                <tr>
                                    <td>{{ expense.reason }} 
                                        <a href="{% url 'update_expense' date=report.training.date.isoformat expense=expense.pk %}" 
                                            class="bi bi-pencil-square"></a></td>
                                    <td>- {{ expense.amount }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="form-floating mb-3">
                            <input type="number" min="0" name="cash_at_end" class="form-control" placeholder="text"
                                {% if form.cash_at_end.value %}value="{{ form.cash_at_end.value }}"{% endif %}>
                            <label>Kassenstand nach dem Training</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea type="text" name="remarks" id="remarks" class="form-control" placeholder="text"
                                style="height: 100px">{% if form.remarks.value %}{{ form.remarks.value }}{% endif %}</textarea>
                            <label for="floatingInput">Bemerkungen</label>
                        </div>
                        <div class="d-grid gap-2">
                            <a href="{% url 'create_expense' date=report.training.date.isoformat %}" class="btn btn-primary">Ausgabe erfassen</a>
                            <button class="btn btn-primary" type="submit">Speichern</button>
                            <a href="javascript:history.back()" class="btn btn-outline-dark">Abbrechen</a>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>

    {% endblock content %}