// Include any default variable overrides here (though functions won't be available)
$primary: #009090;
$secondary: #F25D27;

@import "../../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
.btn-primary {
    color: color-contrast(#000); // returns `color: #fff`
}

.btn-primary:hover {
    color: color-contrast(#000); // returns `color: #fff`
}

.btn-primary:focus {
    color: color-contrast(#000); // returns `color: #fff`
}

.btn-secondary {
    color: color-contrast(#000); // returns `color: #fff`
}

.btn-secondary:hover {
    color: color-contrast(#000); // returns `color: #fff`
}

.btn-secondary:focus {
    color: color-contrast(#000); // returns `color: #fff`
}

.card {
    box-shadow: 0 16px 48px #E3E7EB;
}

// 🍯
.md-3 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}