{% extends "base.html" %}

{% block title %}Trainings erstellen{% endblock title %}

{% block headline %}Trainings erstellen{% endblock headline %}

{% block content %}

<div class="col-xl-4 col-lg-5">
    {% if form.errors %}
    {% for error_list in form.errors.values %}
    {% for error in error_list %}
    <div class="alert my-4 alert-warning">{{ error }}</div>
    {% endfor %}
    {% endfor %}
    {% endif %}

    <div class="card my-4">
        <div class="card-body">
            <p>Normale Trainings werden automatisch erstellt, sobald sich jemand einschreibt. Hier können
                mehrere Trainings auf einmal erstellt und z. B. mit der Information "Axalpwochen" versehen
                werden, ohne dass sich jemand einschreiben muss.</p>
            <p>Einstellungen bestehender Trainings (weil sich z. B. bereits jemand eingeschrieben hat) werden
                überschrieben, Anmeldungen bleiben erhalten.</p>
            <main class="form">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" name="first_day"
                            value="{{ form.first_day.value.isoformat }}" required>
                        <label>Erster Tag</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" name="last_day"
                            value="{{ form.last_day.value.isoformat }}" required>
                        <label>Letzter Tag</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="info" id="info" class="form-control" placeholder="text"
                            value="{{ form.info.value }}">
                        <label for="floatingInput">Infos</label>
                    </div>
                    <div class="row mb-3">
                        <label class="col-6 col-form-label">Max. Pilot·innen</label>
                        <div class="col-6">
                            <input type="number" class="form-control" name="max_pilots" value={{ form.max_pilots.value }}>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" name="priority_date"
                            value="{{ form.priority_date.value.isoformat }}" required>
                        <label>Datum Vorrang (bis und mit)</label>
                    </div>
                    <button class="btn btn-primary" type="submit">Speichern</button>
                    <input type="hidden" name="next" value="{{ next }}">
                    <a href="javascript:history.back()" class="btn btn-outline-dark">Abbrechen</a>
                </form>
            </main>
        </div>
    </div>
</div>

{% endblock content %}