{% extends "base.html" %}

{% block title %}Seepolizeimail{% endblock title %}

{% block headline %}Seepolizeimail{% endblock headline %}

{% block content %}

<div class="col-xl-4 col-md-6">
    <div class="card my-4">
        <h5 class="card-header">{{ form.instance.date|date:"l, j. E Y" }}</h5>
        <div class="card-body">
            <main class="form">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <label for="cc-expiration" class="form-label">Anfang</label>
                            <select class="form-select mb-3" name="start" id="id_start">
                                {% for option in form.start %}{{ option }}{% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="cc-expiration" class="form-label">Ende</label>
                            <select class="form-select mb-3" name="end" id="id_end">
                                {% for option in form.end %}{{ option }}{% endfor %}
                            </select>
                        </div>
                    </div>

                    <label for="id_emergency_contacts" class="form-label">Notfallkontakte (bitte zwei auswählen):</label>
                    {% for pk, choice in form.emergency_contacts.field.widget.choices %}
                    <div class="form-check" id="id_emergency_contacts">
                        <input class="form-check-input" type="checkbox"
                            id="id_emergency_contacts_{{ forloop.counter0 }}" name="emergency_contacts"
                            value="{{ pk }}" />
                        <label class="form-check-label" for="id_emergency_contacts_{{ forloop.counter0 }}">
                            {{ choice }}</label>
                    </div>
                    {% endfor %}

                    <button class="btn btn-primary mt-3" type="submit">Senden</button>
                    <a href="{% url 'trainings' %}" class="btn btn-outline-dark mt-3">Abbrechen</a>
                </form>
            </main>
        </div>
    </div>
</div>

{% endblock content %}