{% extends "base.html" %}

{% block title %}Trainings{% endblock title %}

{% block headline %}Nächste Trainings{% endblock headline %}

{% block content %}

<div class="row mt-2">

    <div class="col left">

        {% for training in trainings %}
        <div class="card mb-4" id="training_{{ forloop.counter }}">
            <h5 class="card-header">{{ training.date | date:"l, j. M." }} 
                {% if request.user.is_orga %}
                <a href="{% url 'update_training' date=training.date.isoformat %}?page={{ page_obj.number }}&training={{ forloop.counter }}"
                    class="btn btn-primary btn-sm bi bi-pencil-square"></a>
                    {% if training.date <= day_after_tomorrow %}
                    <a href="{% url 'emergency_mail' date=training.date.isoformat %}"
                        class="btn btn-danger btn-sm bi bi-envelope-exclamation {% if training.emergency_mail_sender %}disabled{% endif %}"></a>
                    {% endif %}
                    {% if training.date == today %}
                    <a href="{% url 'create_report' %}" class="btn btn-primary btn-sm bi bi-clipboard"></a>
                    {% endif %}
                {% endif %}
            </h5>
            <div class="card-body">
                {% if training.info %}
                {{ training.info }}
                {% endif %}
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Pilot·in</th>
                                <th scope="col">Status</th>
                                <th scope="col">Rolle</th>
                                <th scope="col">Einschreibedatum</th>
                                <th scope="col">Verbindlichkeit</th>
                                <th scope="col">Zeitplan</th>
                                <th scope="col">Wetterwunsch</th>
                                <th scope="col" style="min-width: 300px">Kommentar</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for signup in training.signups.all %}
                            <tr {% if signup.get_status_display == 'Canceled' %}class="text-muted"{% endif %}>
                                <td>{{ forloop.counter }}</td>
                                <td class="text-nowrap">{{ signup.pilot }}
                                    {% if signup.pilot == request.user %}
                                    <a href="{% url 'update_signup' date=training.date.isoformat %}?next={% url 'trainings' %}&page={{ page_obj.number }}&training={{ forloop.parentloop.counter }}"
                                        class="bi bi-pencil-square" />
                                    {% endif %}
                                </td>
                                <td>
                                    {% if signup.get_status_display == 'Selected' %}
                                    <i class="bi bi-cloud-check text-success"></i>
                                    {% elif signup.get_status_display == 'Waiting' %}
                                    <i class="bi bi-hourglass-split text-warning"></i>
                                    {% else %}
                                    <i class="bi bi-x-octagon text-danger"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if signup.pilot.get_role_display == 'Guest' %}
                                    Gast
                                    {% elif signup.pilot.get_role_display == 'Member' %}
                                    Mitglied
                                    {% else %}
                                    Leiter·in
                                    {% endif %}
                                </td>
                                <td class="text-nowrap">{{ signup.signed_up_on | date:"D., j. M. G:i" }}</td>
                                <td>
                                    {% if signup.get_status_display != 'Canceled' %}
                                        {% if signup.is_certain %}100%{% else %}<span class="text-warning">75%</span>{% endif %}
                                    {% endif %}
                                </td>
                                <td class="text-nowrap">
                                    {% if signup.get_status_display != 'Canceled' %}
                                        {% if signup.for_time == signup.Time.WholeDay %}Ganzer Tag{% endif %}
                                        {% if signup.for_time == signup.Time.ArriveLate %}<span class="text-warning">Kommt später</span>{% endif %}
                                        {% if signup.for_time == signup.Time.LeaveEarly %}<span class="text-warning">Geht früher</span>{% endif %}
                                        {% if signup.for_time == signup.Time.Individually %}<span class="text-warning">Individuell</span>{% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if signup.get_status_display != 'Canceled' %}
                                        {% if signup.for_sketchy_weather %}
                                            <i class="bi bi-cloud-haze2-fill"></i>
                                        {% else %}
                                            <i class="bi bi-sun"></i>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{ signup.comment }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if not request.user in training.pilots %}
                <a href="{% url 'signup' date=training.date.isoformat %}?&page={{ page_obj.number }}&training={{ forloop.counter }}"
                    class="btn btn-secondary mt-3">Einschreiben</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        {% if not trainings %}
        <p>Im Moment ist niemand für ein kommendes Training eingeschrieben.</p>
        <a href="{% url 'signup' %}" class="btn btn-secondary">Einschreiben</a>
        {% else %}
        <p>Du kannst dich auch direkt für einen beliebigen Tag <a href="{% url 'signup' %}">einschreiben</a>.</p>
        {% endif %}

        {% if is_paginated %}
        <ul class="pagination justify-content-center">
            <div class="btn-group mb-2">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-primary"><i
                        class="bi bi-chevron-double-left"></i></a>
                <a href="{% url 'trainings' %}" type="button" class="btn btn-primary">Nächste Trainings</a>
                {% endif %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-primary"><i
                        class="bi bi-chevron-double-right"></i></a>
                {% endif %}
            </div>
        </ul>
        {% endif %}

    </div>
</div>

{% endblock content %}