{% extends "base.html" %}

{% block title %}Trainings{% endblock %}

{% block content %}

{% regroup registration_list by date as trainings %}

<div class="row">
    <div class="col-md-12 mt-4 left">
        {% for date, training in trainings %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ date }}</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-sm-2" scope="col">Pilot·in</th>
                            <th class="col-sm-1" scope="col">Status</th>
                            <th scope="col">Kommentar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for registration in training %}
                        <tr>
                            <td>{{ registration.pilot.first_name }} {{ registration.pilot.last_name }}</td>
                            <td>{{ registration.status }}</td>
                            <td>{{ registration.comment | safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}