{% extends "base.html" %}

{% block title %}Trainings{% endblock title %}

{% block content %}

<div class="row mt-2">
    <h1>Nächste Trainings</h1>

    <div class="col left">
        {% for training in trainings %}
        <div class="card mb-4">
            <h5 class="card-header">{{ training.date|date:"l, j. E Y" }} <a
                    href="{% url 'update_training' date=training.date.isoformat %}"
                    class="btn btn-primary btn-sm bi bi-pencil-square"></a>
                {% if training.date <= day_after_tomorrow %}
                <a href="{% url 'emergency_mail' date=training.date.isoformat %}"
                    class="btn btn-primary btn-sm {% if training.emergency_mail_sender %}disabled{% endif %}">
                    Seepolizeimail</a>
                {% endif %}
            </h5>
            <div class="card-body">
                {% if training.info %}
                {{ training.info }}
                {% endif %}
                <div class="table-responsive-md">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-xl-2 col-lg-3 col-sm-4" scope="col">Pilot·in</th>
                                <th class="col-sm-7" scope="col">Status</th>
                                <th scope="col">Kommentar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for signup in training.signups.all %}
                            <tr>
                                <td>{{ signup.pilot.first_name }} {{ signup.pilot.last_name }}
                                    {% if signup.pilot == request.user %}
                                    <a href="{% url 'update_signup' date=training.date.isoformat %}"
                                        class="btn btn-primary btn-sm bi bi-pencil-square" />
                                    {% endif %}
                                </td>
                                <td>
                                    {% if signup.get_status_display == 'Selected' %}<i
                                        class="bi bi-cloud-check text-success"></i>{% endif %}
                                    {% if signup.get_status_display == 'Waiting' %}<i
                                        class="bi bi-hourglass-split text-warning"></i>{% endif %}
                                    {% if signup.get_status_display == 'Canceled' %}<i
                                        class="bi bi-x-octagon text-danger"></i>{% endif %}
                                </td>
                                <td>{{ signup.comment | safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if not request.user in training.pilots %}
                <a href="{% url 'signup' date=training.date.isoformat %}" class="btn btn-primary">Einschreiben</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        {% if is_paginated %}
        <ul class="pagination justify-content-center">
            <div class="btn-group">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-primary"><i
                        class="bi bi-chevron-double-left"></i></a>
                <a href="{% url 'trainings' %}" type="button" class="btn btn-primary">Nächste Trainings</a>
                {% endif %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-primary"><i
                        class="bi bi-chevron-double-right"></i></a>
                {% endif %}
            </div>
        </ul>
        {% endif %}

    </div>
</div>

{% endblock content %}