{% extends "base.html" %}

{% block title %}Meine Trainings{% endblock title %}

{% block headline %}Meine Trainings{% endblock headline %}

{% block content %}

<div class="row mt-2">

    <div class="col-md-12 left">
        {% for time, signups in future_and_past_signups.items %}
        {% if signups %}
        <div class="card mb-4">
            <h5 class="card-header">
                {% if time == "future" %}Kommende Trainings
                {% else %}Vergangene Trainings{% endif %}
            </h5>
            <div class="card-body">
                <div class="table-responsive-lg">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th class="col-xl-2 col-lg-3" scope="col">Datum</th>
                                <th class="col-sm-1" scope="col">Pilot·innen</th>
                                <th class="col-sm-1" scope="col">Status</th>
                                <th scope="col">Verbindlichkeit</th>
                                <th scope="col">Zeitplan</th>
                                <th scope="col">Wetterwunsch</th>
                                <th scope="col">Trainingsinfo</th>
                                <th scope="col">Mein Kommentar</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for signup in signups %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ signup.training.date | date:"D., j. E Y" }}
                                    {% if time == "future" %}
                                    <a href="{% url 'update_signup' date=signup.training.date.isoformat %}?next={% url 'my_signups' %}"
                                        class="btn btn-primary btn-sm bi bi-pencil-square" /a>
                                        {% endif %}
                                </td>
                                <td>
                                    {% if signup.training.number_of_motivated_pilots < 6 %}
                                    <span class="text-warning">{{ signup.training.number_of_motivated_pilots }}</span>
                                    {% else %}
                                    {{ signup.training.number_of_motivated_pilots }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if signup.get_status_display == 'Selected' %}<i
                                    class="bi bi-cloud-check text-success"></i>{% endif %}
                                    {% if signup.get_status_display == 'Waiting' %}<i
                                    class="bi bi-hourglass-split text-warning"></i>{% endif %}
                                    {% if signup.get_status_display == 'Canceled' %}<i
                                    class="bi bi-x-octagon text-danger"></i>{% endif %}
                                </td>
                                <td>
                                    {% if signup.get_status_display != 'Canceled' %}
                                    {% if signup.is_certain %}100%{% else %}75%{% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if signup.for_time == signup.Time.WholeDay %}Ganzer Tag{% endif %}
                                    {% if signup.for_time == signup.Time.ArriveLate %}Komme später{% endif %}
                                    {% if signup.for_time == signup.Time.LeaveEarly %}Gehe früher{% endif %}
                                    {% if signup.for_time == signup.Time.Individually %}Individuell{% endif %}
                                </td>
                                <td>
                                    {% if signup.get_status_display != 'Canceled' %}
                                    {% if signup.for_sketchy_weather %}
                                    <i class="bi bi-cloud-haze2-fill"></i>
                                    {% else %}
                                    <i class="bi bi-sun"></i>
                                    {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{ signup.training.info | safe }}</td>
                                <td>{{ signup.comment }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}