{% extends "base.html" %}

{% block title %}Trainings{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-12 mt-4 left">
        {% for training in trainings %}
        <div class="card mb-4">
            <h5 class="card-header">{{ training.date|date:"l, d. E Y" }} <a
                    href="{% url 'update_training' date=training.date.isoformat %}"
                    class="btn btn-primary btn-sm bi bi-pencil-square" /a></a>
            </h5>
            <div class="card-body">
                {% if training.info %}
                {{ training.info }}
                {% endif %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-sm-2" scope="col">Pilot·in</th>
                            <th class="col-sm-1" scope="col">Status</th>
                            <th scope="col">Kommentar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for signup in training.signups.all %}
                        <tr>
                            <td>{{ signup.pilot.first_name }} {{ signup.pilot.last_name }}
                                {% if signup.pilot == request.user %}
                                <a href="{% url 'update_signup' date=training.date.isoformat %}"
                                    class="btn btn-primary btn-sm bi bi-pencil-square" /a>
                                {% endif %}
                            </td>
                            <td>{{ signup.status }}</td>
                            <td>{{ signup.comment | safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% for signup in training.signups.all %}{% if signup.pilot == request.user %}
                <!--{% endif %}{% endfor %}
                <a href="{% url 'signup' date=training.date.isoformat %}" class="btn btn-primary">Einschreiben</a>
                {% for signup in training.signups.all %}{% if signup.pilot == request.user %}-->
                {% endif %}{% endfor %}
            </div>
        </div>
        {% endfor %}

        {% if is_paginated %}
        <ul class="pagination justify-content-center">
            <div class="btn-group">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" type="button" class="btn btn-primary"><i
                        class="bi bi-chevron-double-left"></i></a>
                <a href="{% url 'trainings' %}" type="button" class="btn btn-primary">Nächste Trainings</a>
                {% endif %}

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" type="button" class="btn btn-primary"><i
                        class="bi bi-chevron-double-right"></i></a>
                {% endif %}
            </div>
        </ul>
        {% endif %}

    </div>
</div>

{% endblock content %}