{% extends "base.html" %}

{% block title %}Meine Trainings{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-12 mt-4 left">
        {% for time, signups in future_and_past_signups.items %}
        {% if signups %}
        <div class="card mb-4">
            <h5 class="card-header">
                {% if time == "future" %}Kommende Trainings
                {% else %}Vergangene Trainings{% endif %}
            </h5>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-sm-2" scope="col">Datum</th>
                            <th class="col-sm-1" scope="col">Status</th>
                            <th scope="col">Trainingsinfo</th>
                            <th scope="col">Mein Kommentar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for signup in signups %}
                        <tr>
                            <td>{{ signup.training.date|date:"D., d. E Y" }}
                                {% if time == "future" %}
                                <a href="{% url 'update_signup' date=signup.training.date.isoformat %}?next={% url 'my_signups' %}"
                                    class="btn btn-primary btn-sm bi bi-pencil-square" /a>
                                {% endif %}
                            </td>
                            <td>
                                {% if signup.get_status_display == 'Selected' %}<i
                                    class="bi bi-cloud-check text-success"></i>{% endif %}
                                {% if signup.get_status_display == 'Waiting' %}<i
                                    class="bi bi-hourglass-split text-warning"></i>{% endif %}
                                {% if signup.get_status_display == 'Canceled' %}<i
                                    class="bi bi-x-octagon text-danger"></i>{% endif %}
                            </td>
                            <td>{{ signup.training.info | safe }}</td>
                            <td>{{ signup.comment | safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}