{% extends "base.html" %}

{% block title %}Trainings{% endblock title %}

{% block content %}

{% regroup registrations by date as trainings %}

<div class="row">
    <div class="col-md-12 mt-4 left">
        {% for date, training in trainings %}
        <div class="card mb-4">
            <h5 class="card-header">{{ date|date:"l, d. E Y" }}</h5>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-sm-2" scope="col">Pilot·in</th>
                            <th class="col-sm-1" scope="col">Status</th>
                            <th scope="col">Kommentar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for registration in training %}
                        <tr>
                            <td>{{ registration.pilot.first_name }} {{ registration.pilot.last_name }}
                                {% if registration.pilot == request.user %}
                                <a href="{{ date.isoformat }}/update/"
                                    class="btn btn-primary btn-sm bi bi-pencil-square" /a>
                                    {% endif %}
                            </td>
                            <td>{{ registration.status }}</td>
                            <td>{{ registration.comment | safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{{ date.isoformat }}/signup/" class="btn btn-primary">Einschreiben</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}