{% block sidebar %}

<div class="col float-right">
    <div class="card mb-3">
        <h5 class="card-header">Spielregeln</h5>
        <div class="card-body">
            <p class="card-text">
                Unsere Trainings stehen allen offen, die unser <a href="#">Sicherheitskonzept</a> akzeptieren; die
                Teilnehmerzahl ist jedoch begrenzt und Mitglieder, die sich zu 100% für den ganzen Tag anmelden, haben
                bei rechtzeitiger Anmeldung Vorrang.</p>
            <p class="card-text">
                Bitte meldet euch frühzeitig an, damit alle ihr Wochenende und ihre Ferien planen können, viele von uns
                haben Familie oder eine lange Anreise. Bei normalen Trainings haben Mitglieder bis und mit Mittwoch
                Vorrang, bei den Axalpwochen bis Mitte April, danach gilt die Reihenfolge der Anmeldung.</p>
            <p class="card-text">
                Die Option "Ich habe vor zu kommen (75%)" ist ausschliesslich für Leute gedacht, die wegen ihrer
                beruflichen, familiären oder gesundheitlichen Situation nicht ganz sicher sind, ob sie kommen können. 
                Falls du dir bis zur letzten Sekunde einen Streckenflugtag offen halten willst, kannst du selbstverständlich
                ohne Anmeldung und nach Absprache mit den Leitenden spontan zu einem Trainig dazu kommen, falls es Platz hat.
                Falls du von der 75% Option Gebrauch machst, melde dich bitte so früh wie möglich zu 100% an oder ab.</p>
            <p class="card-text">
                Man kann sich zwar von einem Training wieder abmelden, sollte dies insbesondere bei knapper
                Teilnehmerzahl nur im Notfall tun. Falls es eine Warteliste gibt, ist die Situation anders und man darf
                seinen Platz natürlich frühzeitig und nach Absprache frei geben.</p>
            <p class="card-text">
                Wir treffen uns in der Regel um 9 Uhr und fliegen, bis nicht mehr genügend Leute hoch fahren wollen.
                Wenn du dich für den ganzen Tag anmeldest, erwarten wir, dass du dir mindestens von 9 bis 19 Uhr Zeit
                nimmst.</p>
            <p class="card-text">
                Wir versuchen beim Ansagen der Trainings Wetterwünsche möglichst zu berücksichtigen. Wir können es aber
                nicht immer allen recht machen und es gehört dazu, dass man ab und zu für die Gruppe in den sauren Apfel
                beisst.</p>
        </div>
    </div>
</div>

{% endblock sidebar %}