{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Anmeldung bearbeiten" %}{% endblock title %}

{% block headline %}{% translate "Anmeldung bearbeiten" %}{% endblock headline %}

{% block content %}

<div class="row mt-2">
    <div class="col-xl-4 col-lg-5">
        <div class="card mb-4">
            <h5 class="card-header">{{ form.instance.training.date | date:"l, j. E" }}</h5>
            <div class="card-body">
                <main class="form">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label>{% translate "Verbindlichkeit" %}</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="is_certain" id="certain" value="True"
                                    required {% if form.instance.is_certain %}checked{% endif %}>
                                <label class="form-check-label" for="certain">
                                    {% translate "Ich komme sicher (100%)" %}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="is_certain" id="uncertain" value="False"
                                    required {% if not form.instance.is_certain %}checked{% endif %}>
                                <label class="form-check-label" for="uncertain">
                                    {% translate "Ich habe vor zu kommen (75%)" %}
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Zeitplan</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="duration" id="whole-day"
                                    value="{{ form.instance.Duration.ALL_DAY }}" required 
                                    {% if form.instance.duration == form.instance.Duration.ALL_DAY %}checked{% endif %}>
                                <label class="form-check-label" for="whole-day">
                                    {% translate "Ich komme den ganzen Tag" %}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="duration" id="arrive-late"
                                    value="{{ form.instance.Duration.ARRIVING_LATE }}" required
                                    {% if form.instance.duration == form.instance.Duration.ARRIVING_LATE %}checked{% endif %}>
                                <label class="form-check-label" for="arrive-late">
                                    {% translate "Ich komme später" %}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="duration" id="leave-early"
                                    value="{{ form.instance.Duration.LEAVING_EARLY }}" required
                                    {% if form.instance.duration == form.instance.Duration.LEAVING_EARLY %}checked{% endif %}>
                                <label class="form-check-label" for="leave-early">
                                    {% translate "Ich gehe früher" %}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="duration" id="INDIVIDUALLY"
                                    value="{{ form.instance.Duration.INDIVIDUALLY }}" required
                                    {% if form.instance.duration == form.instance.Duration.INDIVIDUALLY %}checked{% endif %}>
                                <label class="form-check-label" for="INDIVIDUALLY">
                                    {% translate "Ich komme und gehe individuell" %}
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Wetterwunsch</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="for_sketchy_weather" id="sketchy-weather-too" value="True"
                                    required {% if form.instance.for_sketchy_weather %}checked{% endif %}>
                                <label class="form-check-label" for="sketchy-weather-too">
                                    {% translate "Auch bei kleiner Chance" %} <i class="bi bi-cloud-haze2-fill"></i>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="for_sketchy_weather" id="good-weather-only" value="False"
                                    required {% if not form.instance.for_sketchy_weather %}checked{% endif %}>
                                <label class="form-check-label" for="good-weather-only">
                                    {% translate "Nur bei sicher gutem Wetter" %} <i class="bi bi-sun"></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="comment" class="form-control" placeholder="text"
                                value="{{ form.comment.value }}">
                            <label for="floatingInput">{% translate "Kommentar" %}</label>
                        </div>
                        <div class="d-grid gap-2 d-sm-block">
                            <button class="btn btn-primary" type="submit" name="save">{% translate "Speichern" %}</button>
                            {% if form.instance.get_status_display != 'Canceled' %}
                                {% if form.instance.is_cancelable %}
                                <button class="btn btn-danger" type="submit" name="cancel">{% translate "Abmelden" %}</button>
                                {% endif %}
                            {% else %}
                            <button class="btn btn-success" type="submit" name="resignup">{% translate "Wieder anmelden" %}</button>
                            {% endif %}
                            <a href="{{ view.get_success_url }}" class="btn btn-outline-dark">{% translate "Abbrechen" %}</a>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>

    <div class="col float-right">
        {% include 'trainings/rules.html' %}
        {% include 'trainings/infos.html' %}
    </div>

</div>

{% endblock content %}