{% extends "base.html" %}

{% block title %}Anmeldung bearbeiten{% endblock title %}

{% block headline %}Anmeldung bearbeiten{% endblock headline %}

{% block content %}

<div class="row mt-2">
    <div class="col-xl-4 col-lg-5">
        {% if form.errors %}
        {% for error_list in form.errors.values %}
        {% for error in error_list %}
        <div class="alert mb-4 alert-warning">{{ error }}</div>
        {% endfor %}
        {% endfor %}
        {% endif %}

        <div class="card mb-4">
            <h5 class="card-header">{{ form.instance.training.date | date:"l, j. E" }}</h5>
            <div class="card-body">
                <main class="form">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label>Verbindlichkeit</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="is_certain" id="certain" value="True"
                                    required {% if form.instance.is_certain %}checked{% endif %}>
                                <label class="form-check-label" for="certain">
                                    Ich komme sicher (100%)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="is_certain" id="uncertain" value="False"
                                    required {% if not form.instance.is_certain %}checked{% endif %}>
                                <label class="form-check-label" for="uncertain">
                                    Ich habe vor zu kommen (75%)
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Zeitplan</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="for_time" id="whole-day"
                                    value="{{ form.instance.Time.WholeDay }}" required 
                                    {% if form.instance.for_time == form.instance.Time.WholeDay %}checked{% endif %}>
                                <label class="form-check-label" for="whole-day">
                                    Ich komme den ganzen Tag
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="for_time" id="arrive-late"
                                    value="{{ form.instance.Time.ArriveLate }}" required
                                    {% if form.instance.for_time == form.instance.Time.ArriveLate %}checked{% endif %}>
                                <label class="form-check-label" for="arrive-late">
                                    Ich komme später
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="for_time" id="leave-early"
                                    value="{{ form.instance.Time.LeaveEarly }}" required
                                    {% if form.instance.for_time == form.instance.Time.LeaveEarly %}checked{% endif %}>
                                <label class="form-check-label" for="leave-early">
                                    Ich gehe früher
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="for_time" id="individually"
                                    value="{{ form.instance.Time.Individually }}" required
                                    {% if form.instance.for_time == form.instance.Time.Individually %}checked{% endif %}>
                                <label class="form-check-label" for="individually">
                                    Ich komme und gehe individuell
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Wetterwunsch</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="for_sketchy_weather" id="sketchy-weather-too" value="True"
                                    required {% if form.instance.for_sketchy_weather %}checked{% endif %}>
                                <label class="form-check-label" for="sketchy-weather-too">
                                    Auch bei kleiner Chance <i class="bi bi-cloud-haze2-fill"></i>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="for_sketchy_weather" id="good-weather-only" value="False"
                                    required {% if not form.instance.for_sketchy_weather %}checked{% endif %}>
                                <label class="form-check-label" for="good-weather-only">
                                    Nur bei sicher gutem Wetter <i class="bi bi-sun"></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="comment" class="form-control" placeholder="text"
                                value="{{ form.comment.value }}">
                            <label for="floatingInput">Kommentar</label>
                        </div>
                        <div class="d-grid gap-1 d-sm-block">
                            <button class="btn btn-primary" type="submit" name="save">Speichern</button>
                            {% if form.instance.get_status_display != 'Canceled' %}
                            <button class="btn btn-danger" type="submit" name="cancel">Abmelden</button>
                            {% else %}
                            <button class="btn btn-success" type="submit" name="resignup">Wieder anmelden</button>
                            {% endif %}
                            <a href="{{ view.get_success_url }}" class="btn btn-outline-dark">Abbrechen</a>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>

    <div class="col float-right">
        {% include 'trainings/rules.html' %}
        {% include 'trainings/infos.html' %}
    </div>

</div>

{% endblock content %}