{% extends "base.html" %}

{% block title %}Training bearbeiten{% endblock title %}

{% block headline %}Training bearbeiten{% endblock headline %}

{% block content %}

<div class="col-xl-4 col-lg-5">
    {% if form.errors %}
    {% for error_list in form.errors.values %}
    {% for error in error_list %}
    <div class="alert my-4 alert-warning">{{ error }}</div>
    {% endfor %}
    {% endfor %}
    {% endif %}

    <div class="card my-4">
        <h5 class="card-header">{{ form.instance.date | date:"l, j. E" }}</h5>
        <div class="card-body">
            <main class="form">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" name="info" id="info" class="form-control" placeholder="text"
                            value="{{ form.info.value | default:'Training findet statt, Treffpunkt 9 Uhr Aaregg.' }}">
                        <label for="floatingInput">Infos</label>
                    </div>
                    <div class="row mb-3">
                        <label class="col-6 col-form-label">Max. Pilot·innen</label>
                        <div class="col-6">
                            <input type="number" class="form-control" name="max_pilots" value={{ form.max_pilots.value }}>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" name="priority_date"
                            value="{{ form.instance.priority_date.isoformat }}" required>
                        <label>Datum Vorrang (bis und mit)</label>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Speichern</button>
                        <div class="btn-group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                data-bs-toggle="dropdown">
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                        onclick="document.getElementById('info').value='Training findet wegen schlechtem Wetter nicht statt.'"
                                        href="#">Schlechtes Wetter</a></li>
                                <li><a class="dropdown-item"
                                        onclick="document.getElementById('info').value='Training findet nicht statt, zu viel Wind.'"
                                        href="#">Zu viel Wind</a></li>
                                <li><a class="dropdown-item"
                                        onclick="document.getElementById('info').value='Training findet nicht statt, zu wenig Anmeldungen.'"
                                        href="#">Zu wenig Anmeldungen</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item"
                                        onclick="document.getElementById('info').value='Training findet statt, Treffpunkt 9 Uhr Aaregg.'"
                                        href="#">Ansagen</a></li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <a href="{% url 'trainings' %}" class="btn btn-outline-dark">Abbrechen</a>
                </form>
            </main>
        </div>
    </div>
</div>

{% endblock content %}